{% extends "layout.html" %}
{% block content %}
<form action="/details" method="POST">

<ul>ENTER WORD: <input type="text" placeholder="Enter word" name="word" ></ul> 
<ul>ENTER DASHED WORD: <input type="text" placeholder="word with _" name="dashed"></ul>
<ul>ENTER No. LIVES<select name="life"></ul>

<option disabled selected value="">Lives</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
</select>

<input type="submit" name="submit">
</form>
{% endblock %}